body{
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 150px 15px 150px;
}

header .app-logo{
    font-size: 36px;
}

header nav{
    display: flex;
    justify-content: center;
}

header nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

nav ul li{
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
}

ul li .active-link{
    color: white;
}

ul li a:hover{
    color: white;
}

nav ul .book-now-btn a{
    padding: 9px 18px;
    background-color: white;
    border-radius: 20px;
    color: black;
}

nav ul .book-now-btn a:hover{
    background-color: rgba(255, 255, 255, .7);
}

.listings-header{
    background-color: rgba(255, 255, 255, 0.8);
}

.listings-header .app-logo{
    color: black;
}

.listings-header .app-header-links ul li .active-link{
    color: black;
}